# Result Prediction Model:

In [9]:
import numpy as np
import pandas as pd
import warnings                                  
warnings.filterwarnings('ignore')
Name=['Ajinkya','Aditya','Devang','Prathamesh','siddesh']
Internal=[20,25,30,35,40]
Pratical=[10,20,30,40,50]
Written=[30,35,40,45,55]
Result=['Fail','Just pass','Pass','Pass','Topper']
d={"Name":Name,"Internal":Internal,"Pratical":Pratical,"Written":Written,"Result":Result}
d

{'Name': ['Ajinkya', 'Aditya', 'Devang', 'Prathamesh', 'siddesh'],
 'Internal': [20, 25, 30, 35, 40],
 'Pratical': [10, 20, 30, 40, 50],
 'Written': [30, 35, 40, 45, 55],
 'Result': ['Fail', 'Just pass', 'Pass', 'Pass', 'Topper']}

In [10]:
data=pd.DataFrame(d)
data

         Name  Internal  Pratical  Written     Result
0     Ajinkya        20        10       30       Fail
1      Aditya        25        20       35  Just pass
2      Devang        30        30       40       Pass
3  Prathamesh        35        40       45       Pass
4     siddesh        40        50       55     Topper

In [11]:
data.columns

Index(['Name', 'Internal', 'Pratical', 'Written', 'Result'], dtype='object')

In [12]:
exam= ['Internal', 'Pratical', 'Written' ]                              
Input= data[exam]                                              

Result = ['Result']                                                                                              
Output= data['Result']

In [13]:
numeric_feature_names = ['Internal', 'Pratical', 'Written']
numeric_feature_names

['Internal', 'Pratical', 'Written']

In [14]:
Input[numeric_feature_names]

   Internal  Pratical  Written
0        20        10       30
1        25        20       35
2        30        30       40
3        35        40       45
4        40        50       55

In [15]:
Internal_Range=40-20
print("Internal_Range:",Internal_Range)
Practical_Range=50-10
print("Practical_Range:",Practical_Range)
Written_Range=55-30
print("Written_Range:",Written_Range)

Internal_Range: 20
Practical_Range: 40
Written_Range: 25

In [16]:
Input.describe()

        Internal   Pratical    Written
count   5.000000   5.000000   5.000000
mean   30.000000  30.000000  41.000000
std     7.905694  15.811388   9.617692
min    20.000000  10.000000  30.000000
25%    25.000000  20.000000  35.000000
50%    30.000000  30.000000  40.000000
75%    35.000000  40.000000  45.000000
max    40.000000  50.000000  55.000000

In [17]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit(Input[numeric_feature_names])

Input[numeric_feature_names]= ss.transform(Input[numeric_feature_names])
Input[numeric_feature_names]

   Internal  Pratical   Written
0 -1.414214 -1.414214 -1.278724
1 -0.707107 -0.707107 -0.697486
2  0.000000  0.000000 -0.116248
3  0.707107  0.707107  0.464991
4  1.414214  1.414214  1.627467

In [18]:
Output

0         Fail
1    Just pass
2         Pass
3         Pass
4       Topper
Name: Result, dtype: object

In [19]:
set(Input)

{'Internal', 'Pratical', 'Written'}

In [20]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

model = lr.fit(Input, np.array(Output))

model

LogisticRegression()

In [21]:
pred_Output = model.predict(Input)
actual_Output = np.array(Output)

In [22]:
from sklearn.metrics import accuracy_score, classification_report
accuracy_score(actual_Output,pred_Output )

0.8

In [23]:
print(classification_report(actual_Output,pred_Output ))

              precision    recall  f1-score   support

        Fail       1.00      1.00      1.00         1
   Just pass       0.00      0.00      0.00         1
        Pass       0.67      1.00      0.80         2
      Topper       1.00      1.00      1.00         1

    accuracy                           0.80         5
   macro avg       0.67      0.75      0.70         5
weighted avg       0.67      0.80      0.72         5

In [24]:
import joblib
import os
if not os.path.exists("Model"):
    os.mkdir("Model")
if not os.path.exists("Scaler"):
    os.mkdir("Scaler")
    
joblib.dump(model, r'Model/model.pickle')
joblib.dump(ss, r'Scaler/scaler.pickle')

['Scaler/scaler.pickle']

In [25]:
import joblib
model= joblib.load(r'Model/model.pickle')
scaler= joblib.load(r'Scaler/scaler.pickle')

In [26]:
model

LogisticRegression()

In [27]:
scaler

StandardScaler()

In [28]:
data

         Name  Internal  Pratical  Written     Result
0     Ajinkya        20        10       30       Fail
1      Aditya        25        20       35  Just pass
2      Devang        30        30       40       Pass
3  Prathamesh        35        40       45       Pass
4     siddesh        40        50       55     Topper

In [29]:
new_data = pd.DataFrame([
    {"Name":'Taha',"Internal":40,"Pratical":50,"Written":60}
])

In [30]:
new_data

   Name  Internal  Pratical  Written
0  Taha        40        50       60

In [31]:
prediction_features = new_data[exam]
prediction_features

   Internal  Pratical  Written
0        40        50       60

In [32]:
prediction_features[exam] = scaler.transform(prediction_features[exam])
prediction_features

   Internal  Pratical   Written
0  1.414214  1.414214  2.208705

In [33]:
len(prediction_features)

1

In [34]:
predictions = model.predict(prediction_features)
predictions

array(['Topper'], dtype=object)

In [35]:
new_data['Result'] = predictions
new_data

   Name  Internal  Pratical  Written  Result
0  Taha        40        50       60  Topper

In [36]:
new_data1= pd.DataFrame([
    {"Name":'Rahul',"Internal":0,"Pratical":0,"Written":0}
])

In [37]:
new_data1

    Name  Internal  Pratical  Written
0  Rahul         0         0        0

In [38]:
prediction_features = new_data1[exam]
prediction_features

   Internal  Pratical  Written
0         0         0        0

In [39]:
prediction_features[exam] = scaler.transform(prediction_features[exam])
prediction_features

   Internal  Pratical   Written
0 -4.242641  -2.12132 -4.766153

In [40]:
predictions = model.predict(prediction_features)
predictions

array(['Fail'], dtype=object)

In [41]:
new_data1['Result'] = predictions
new_data1

    Name  Internal  Pratical  Written Result
0  Rahul         0         0        0   Fail